.space1, .space10, .space20, .space30, .space40, .space50 { width: 100%; clear: both; }
.space1 { height: 1px; }
.space10 { height: 10px; }
.space20 { height: 20px; }
.space30 { height: 30px; }
.space40 { height: 40px; }
.space50 { height: 50px; }




* {
  /*-webkit-box-shadow: none !important;
    -ms-box-shadow: none !important;
    box-shadow: none !important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
    -webkit-text-shadow: none !important;
    -ms-text-shadow: none !important;
    text-shadow: none !important;*/
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  /*font-weight: 400;*/
}
.btn,
.badge,
.modal,
.modal-dialog,
.modal-content,
input,
select {
  border-radius: 0 !important;
}
input,
select {
  padding: 4px !important;
  /*width: 65% !important;*/
  display: inline-block !important;
}
.navbar * {
  background-image: none !important;
  -webkit-text-shadow: none !important;
  -ms-text-shadow: none !important;
  text-shadow: none !important;
}
form * {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}
input,
textarea {
  background-image: none !important;
  border: 1px solid #ccc !important;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}
select {
  font-size: 13px !important;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 0 0 0 !important;
  margin-right: 5px !important;
  line-height: 23px !important;
  border: 0 !important;
}
.btn {
  background-image: none !important;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 13px !important;
}
.btn.btn-form-md {
  margin: 0 .5em .2em .5em;
  width: 9em;
}
.btn.btn-mini {
  font-size: 11px !important;
}
body {
  font-size: 13px;
  line-height: 23px;
  color: #666;
  background: #111;
  padding-top: 45px;
  -webkit-font-smoothing: antialiased;
}
body .container {
  width: 97%;
  padding-left: 1.5%;
  padding-right: 1.5%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 2px 0;
  margin: 2px 0;
  color: #777;
  font-weight: 400;
}
h2 {
  font-size: 30px;
  line-height: 40px;
}
h3 {
  font-size: 23px;
  line-height: 33px;
}
h4 {
  font-size: 20px;
  line-height: 30px;
}
h5 {
  font-size: 18px;
  line-height: 28px;
}
h6 {
  font-size: 15px;
  line-height: 25px;
}
p {
  padding: 1px 0 !important;
  margin: 1px 0 !important;
}
a {
  color: #333;
  text-decoration: none !important;
}
a:hover {
  color: #888;
  text-decoration: none;
}
.disabled {
    cursor: not-allowed;
}
a:hover,
a:focus,
a:active {
  outline: 0;
}
.bold {
  font-weight: 600;
}
hr {
  margin: 8px 0 8px 0 !important;
  padding: 0 !important;
  border-top: 0;
  border-bottom: 1px solid #ddd !important;
  height: 0;
}
:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}
.well {
  padding: 10px 15px;
}
a.btn {
  font-size: 13px !important;
}
.label {
  font-weight: 400;
  padding: 3px 6px !important;
  font-size: 13px;
}
.control-label {
  font-weight: 400 !important;
  font-size: 14px;
}
.badge {
  font-weight: 400;
  padding: 3px 8px;
  font-size: 13px;
}
.progress {
  height: 17px;
  line-height: 17px;
  margin: 5px 0 !important;
  border: 0;
}
.progress .bar {
  font-size: 12px;
}
/* Button colors */
.btn.btn-primary {
  background: #1171a3 !important;
}
.btn.btn-primary:hover {
  background: #0f608b !important;
}
.btn.btn-info {
  background: #52b9e9 !important;
}
.btn.btn-info:hover {
  background: #459fc9 !important;
}
.btn.btn-success {
  background: #43c83c !important;
}
.btn.btn-success:hover {
  background: #36a530 !important;
}
.btn.btn-warning {
  background: #f88529 !important;
}
.btn.btn-warning:hover {
  background: #d67323 !important;
}
.btn.btn-danger {
  background: #fa3031 !important;
}
.btn.btn-danger:hover {
  background: #d82829 !important;
}
/* Label colors */
.label.label-success,
.badge.badge-success {
  background: #43c83c !important;
}
.label.label-warning,
.badge.badge-warning {
  background: #f88529 !important;
}
.label.label-important,
.badge.badge-important {
  background: #fa3031 !important;
}
.label.label-info,
.badge.badge-info {
  background: #52b9e9 !important;
}
/* Background colors */
.blightblue {
  background: #52b9e9 !important;
  color: #fff !important;
  border: 0 !important;
}
.bblue {
  background: #1171a3 !important;
  color: #fff !important;
  border: 0 !important;
}
.bgreen {
  background: #43c83c !important;
  color: #fff !important;
  border: 0 !important;
}
.borange {
  background: #f88529 !important;
  color: #fff !important;
  border: 0 !important;
}
.bred {
  background: #fa3031 !important;
  color: #fff !important;
  border: 0 !important;
}
.bviolet {
  background: #932ab6 !important;
  color: #fff !important;
  border: 0 !important;
}
.blightblue h2,
.blightblue h3,
.blightblue h3,
.blightblue h4,
.blightblue h5,
.blightblue h6,
.bblue h2,
.bblue h3,
.bblue h3,
.bblue h4,
.bblue h5,
.bblue h6,
.bgreen h2,
.bgreen h3,
.bgreen h3,
.bgreen h4,
.bgreen h5,
.bgreen h6,
.bred h2,
.bred h3,
.bred h3,
.bred h4,
.bred h5,
.bred h6,
.bviolet h2,
.bviolet h3,
.bviolet h3,
.bviolet h4,
.bviolet h5,
.bviolet h6,
.borange h2,
.borange h3,
.borange h3,
.borange h4,
.borange h5,
.borange h6 {
  color: #fff !important;
}
.blightblue a,
.bblue a,
.bgreen a,
.bred a,
.borange a,
.bviolet a {
  color: #eee !important;
}
.blightblue a:hover,
.bblue a:hover,
.bgreen a:hover,
.bred a:hover,
.borange a:hover,
.bviolet a:hover {
  color: #ddd !important;
}
/* Text colors */
.lightblue {
  color: #52b9e9 !important;
}
.blue {
  color: #1171a3 !important;
}
.green {
  color: #43c83c !important;
}
.orange {
  color: #f88529 !important;
}
.red {
  color: #fa3031 !important;
}
.violet {
  color: #932ab6 !important;
}
/* Modal */
.modal-header {
  padding-top: 7px;
  padding-bottom: 7px;
}
/* Form */
form {
  margin: 10px;
}
form input,
form button,
form textarea,
form select {
  font-size: 13px !important;
}
form label {
  font-size: 13px;
  line-height: 13px;
}
.form-inline button {
  margin-left: 15px;
}
.form-horizontal .control-label {
  width: 90px;
}
.form-horizontal .controls {
  margin-left: 110px;
}
.form-horizontal .controls:first-child {
  *padding-left: 100px;
}
.form-horizontal .form-actions {
  padding-left: 110px;
}
.form-actions {
  padding: 5px 20px 5px;
  background: transparent;
  border-top: 0;
}
/* Back to top */
.totop {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 104400;
  background: #fa3031;
  display: none;
}
.totop a,
.totop a:visited {
  display: block;
  width: 30px;
  height: 30px;
  color: #fff;
  text-align: center;
  line-height: 30px;
}
.totop a:hover {
  color: #eee;
  text-decoration: none;
}
/* Half column - CHECK LATER */
.col-left {
  width: 48%;
  float: left;
}
.col-right {
  width: 48%;
  float: right;
}
/* Dropdown menu */
.dropdown-big .dropdown-menu {
  -moz-min-width: 250px;
  -ms-min-width: 250px;
  -o-min-width: 250px;
  -webkit-min-width: 250px;
  min-width: 250px;
  padding: 8px 10px;
  background: #fff;
}
.dropdown-big .dropdown-menu p {
  margin: 1px 0;
  padding: 1px 0;
  font-size: 12px;
  line-height: 18px;
}
.dropdown-big .dropdown-menu a {
  font-size: 13px;
  line-height: 23px;
  background: transparent;
  padding: 0;
  color: #444 !important;
  display: inline;
}
.dropdown-big .dropdown-menu a:hover {
  color: #777 !important;
  background: transparent !important;
}
.dropdown-big .dropdown-menu .drop-foot {
  text-align: center;
}
.dropdown-big .dropdown-menu .drop-foot a {
  font-size: 12px !important;
}
.dropdown-big .dropdown-menu hr {
  padding: 0;
  margin: 8px 0;
  border-top: 0 solid #aaa;
  border-bottom: 1px solid #eee;
}
.dropdown-big .dropdown-menu h5 {
  color: #666 !important;
  line-height: 18px;
  font-weight: bold;
  font-size: 13px;
}
.dropdown-menu {
  background: #fff;
  border-radius: 0;
  border: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.dropdown-menu li {
  color: #777;
  font-size: 13px;
  line-height: 18px;
}
.dropdown-menu li > a {
  color: #555;
  line-height: 23px !important;
}
.dropdown-menu li > a:hover {
  background: #f9f9f9 !important;
  -webkit-filter: none;
          filter: none;
  color: #888;
}
.dropdown-menu a:hover,
.dropdown-menu a:focus {
  -webkit-filter: none !important;
          filter: none !important;
  background: #fff !important;
}
.dropdown-menu::after,
.dropdown-menu::before {
  border: none !important;
}
/* Navbar */
.navbar {
  background: #000;
}
.navbar .container {
  width: 97% !important;
}
.navbar .nav > li > a {
  font-size: 13px !important;
  color: #fff !important;
}
.navbar i {
  margin-right: 3px;
}
.navbar .caret {
  border-top-color: #fff !important;
  border-bottom-color: #fff !important;
}
.navbar .nav-user-pic {
  width: 20px;
  margin-right: 10px;
}
.navbar .badge {
  margin-left: 5px;
}
/* Sidebar */
.sidebar {
  width: 230px;
  float: left;
  display: block;
  background: #111;
  color: #eee;
  position: relative;
}
.sidebar hr {
  border-bottom: 1px solid #333 !important;
}
.sidebar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.sidebar ul li {
  list-style-type: none;
}
.sidebar .sidebar-inner {
  display: block;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  z-index: 60;
  background: #111;
}
.sidebar .navi li i {
  margin-right: 5px;
}
.sidebar .navi li span i {
  margin: 0;
}
.sidebar .navi > li > a {
  display: block;
  padding: 12px 20px;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #222;
  background-color: #111;
}
.sidebar .navi > li > a:hover,
.sidebar .navi > li.open > a {
  border-bottom: 1px solid #222;
  background-color: #222;
  color: #fff;
}
.sidebar .navi li ul {
  display: none;
  background: #181818;
}
.sidebar .navi li.open ul {
  display: block;
}
.sidebar .navi li ul li a {
  display: block;
  background: none;
  padding: 10px 0;
  padding-left: 30px;
  text-decoration: none;
  color: #999;
  border-bottom: 1px solid #222;
}
.sidebar .navi li ul li.active a {
  background: #131313;
  border-bottom: 1px solid #222;
}
.sidebar .navi li ul li a:hover {
  background: #131313;
  border-bottom: 1px solid #222;
}
/* Sidebar colors */
.sidebar .navi > li.nlightblue > a:hover,
.sidebar .navi > li.open.nlightblue > a,
.sidebar .navi > li.current.nlightblue > a {
  background: #52b9e9 !important;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
.sidebar .navi > li.nblue > a:hover,
.sidebar .navi > li.open.nblue > a,
.sidebar .navi > li.current.nblue > a {
  background: #1171a3 !important;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
.sidebar .navi > li.ngreen > a:hover,
.sidebar .navi > li.open.ngreen > a,
.sidebar .navi > li.current.ngreen > a {
  background: #43c83c !important;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
.sidebar .navi > li.norange > a:hover,
.sidebar .navi > li.open.norange > a,
.sidebar .navi > li.current.norange > a {
  background: #f88529 !important;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
.sidebar .navi > li.nred > a:hover,
.sidebar .navi > li.open.nred > a,
.sidebar .navi > li.current.nred > a {
  background: #fa3031 !important;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
.sidebar .navi > li.nviolet > a:hover,
.sidebar .navi > li.open.nviolet > a,
.sidebar .navi > li.current.nviolet > a {
  background: #932ab6 !important;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
/* Sidebar dropdown */
.sidebar .sidebar-dropdown* {
  text-decoration: none;
}
.sidebar .sidebar-dropdown {
  display: none;
}
.sidebar .sidebar-dropdown a {
  color: #ddd;
  background-color: #343434;
  padding: 6px;
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
  display: block;
  border-top: 1px solid #666;
  border-bottom: 1px solid #333;
}
.sidebar .sidebar-dropdown a:hover {
  text-decoration: none;
}
/* Sidebar widget */
.sidebar .sidebar-widget {
  padding: 10px 5px;
}
.sidebar .ui-datepicker {
  width: 95%;
  margin: 0 auto;
  background: #111;
  color: #888;
  border: 0;
  padding: 0;
}
.sidebar .ui-datepicker-header {
  background: #222;
  border: 1px solid #212121;
}
.sidebar .ui-datepicker-prev:hover {
  background: transparent;
  border: 0;
  top: 2px !important;
  left: 2px !important;
}
.sidebar .ui-datepicker-next:hover {
  background: transparent;
  border: 0;
  top: 2px !important;
  right: 2px !important;
}
.sidebar .ui-state-default {
  background: #222;
  border: 0;
  text-align: center;
  color: #ccc;
}
.sidebar .ui-state-default:hover {
  background: #282828;
  color: #999;
}
.sidebar .ui-state-hightlight,
.sidebar .ui-state-active {
  background: #444;
}
/* Main */
.mainbar {
  position: relative;
  margin-left: 230px;
  margin-right: 0;
  width: auto;
  background: #fff;
  min-height: 900px;
}
.mainbar .container {
  width: 100%;
  padding: 0 !important;
}
/* Pagination*/
.pagination {
  margin: 10px 0 5px 0;
}
.pagination ul > li > a,
.pagination ul > li > span {
  border: 1px solid #ccc;
  margin-right: 3px;
  padding: 3px 8px;
  background-color: #fff;
  color: #666;
}
.pagination ul > li > a:hover {
  color: #333;
  background: #fafafa;
}
/* Page head */
.mainbar .page-head {
  padding: 15px 20px;
  border-bottom: 1px solid #fff;
}
.mainbar .page-meta {
  font-size: 13px;
  line-height: 15px;
  margin-left: 2px;
  display: block;
}
/* Matter */
.mainbar .matter {
  border-top: 0px solid #ddd;
  margin: 2em;
}
/* Widget */
.widget {
  margin-top: 10px;
  margin-bottom: 20px;
  background: #fff;
}
.widget hr {
  margin: 4px 0;
  padding: 4px 0;
  border-top: 0;
  border-bottom: 1px solid #ddd;
}
.widget .table {
  margin: 0;
  width: 100%;
}
.widget .table-bordered {
  border: 0;
}
.widget .table-bordered th {
  border-bottom: 1px solid #ccc !important;
}
.widget .table-bordered td {
  border-top: 0 !important;
  border-bottom: 1px solid #ccc !important;
}
.widget .table-bordered td:first-child,
.widget .table-bordered th:first-child {
  border-left: 0;
}
.widget .padd {
  padding: 15px;
}
.widget .widget-head {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #777;
  font-size: 18px;
  padding: 12px 15px;
}
.widget .widget-head.collapsive {
  cursor: pointer;
}
.widget .widget-head .widget-icons i {
  font-size: 14px;
  margin: 0 4px;
}
.widget .widget-head .widget-icons a {
  color: #aaa;
}
.widget .widget-head .widget-icons a:hover {
  color: #888;
}
.widget .widget-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.widget .widget-foot {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-top: 0;
  padding: 8px 15px;
  font-size: 13px;
  color: #555;
}
/* Widget colors */
.widget.wred .widget-head {
  background-color: #fa3031;
  border: 1px solid #fa3031;
  color: #fff;
}
.widget.wlightblue .widget-head {
  background-color: #52b9e9;
  border: 1px solid #52b9e9;
  color: #fff;
}
.widget.wblue .widget-head {
  background-color: #1171a3;
  border: 1px solid #1171a3;
  color: #fff;
}
.widget.wgreen .widget-head {
  background-color: #43c83c;
  border: 1px solid #43c83c;
  color: #fff;
}
.widget.worange .widget-head {
  background-color: #f88529;
  border: 1px solid #f88529;
  color: #fff;
}
.widget.wviolet .widget-head {
  background-color: #932ab6;
  border: 1px solid #932ab6;
  color: #fff;
}
.widget.wred .widget-head .widget-icons a,
.widget.wblue .widget-head .widget-icons a,
.widget.wlightblue .widget-head .widget-icons a,
.widget.worange .widget-head .widget-icons a,
.widget.wgreen .widget-head .widget-icons a,
.widget.wviolet .widget-head .widget-icons a {
  color: #fff;
}
.widget.wred .widget-head .widget-icons a:hover,
.widget.wblue .widget-head .widget-icons a:hover,
.widget.wlightblue .widget-head .widget-icons a:hover,
.widget.worange .widget-head .widget-icons a:hover,
.widget.wgreen .widget-head .widget-icons a:hover,
.widget.wviolet .widget-head .widget-icons a:hover {
  color: #eee;
}
/* Widget white extras */
.widget .nav-tabs > li a {
  padding: 5px 10px;
}
.widget .nav-tabs {
  margin-bottom: 5px;
}
.widget .tab-content {
  margin-bottom: 10px;
}
/* Today datas */
.today-datas {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}
.today-datas li {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 10px;
  padding: 1.5em 1em;
  background-color: #f8f8f8;
  background: #f8f8f8;
  border: 1px solid #ccc;
  max-width: 100%;
  text-align: center;
}
.today-datas li .spark {
  margin-right: 10px;
}
.today-datas li .datas-text {
  font-size: 13px;
  padding: 7px 0 0 0;
  font-weight: normal;
}
.today-datas li .datas-text span {
  display: block;
  font-size: 24px;
  margin-bottom: 5px;
}
.today-datas li i {
  font-size: 50px;
  margin-right: 10px;
}
.today-datas li .dial {
  margin-right: 10px !important;
}
/* Toggle button */
.toggle-button span {
  font-size: 13px !important;
}
/* Gallery */
.gallery img {
  max-width: 170px;
  margin: 5px;
}
/* Responsive */
@media (max-width: 480px) {
  .mainbar .page-head h2 {
    float: none;
  }
  .mainbar .bread-crumb {
    float: none;
    margin-top: 10px;
  }
  .col-left {
    width: 100%;
    float: none;
    margin-right: 0;
  }
  .col-right {
    width: 100%;
    float: none;
  }
}
@media (max-width: 767px) {
  body {
    margin: 0 auto;
  }
  body .container {
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  .content {
    margin-left: -20px;
    margin-right: -20px;
  }
  .mainbar .matter {
    padding-left: 20px;
    padding-right: 20px;
  }
  .form-inline button {
    margin-left: 0;
  }
  .navbar {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .nav-collapse .dropdown-big .dropdown-menu {
    color: #bbb !important;
  }
  .nav-collapse .dropdown-big .dropdown-menu a {
    color: #ccc !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .nav-collapse .dropdown-big .dropdown-menu a:hover {
    color: #aaa !important;
  }
  .nav-collapse .dropdown-big .dropdown-menu h5 {
    color: #eee !important;
  }
  .nav-collapse .dropdown-menu {
    padding: 10px 10px !important;
  }
  .nav-collapse .dropdown-menu a {
    color: #fff !important;
  }
  .nav-collapse .dropdown-menu a:hover {
    background: transparent !important;
  }
  .nav-collapse .dropdown-menu hr {
    border-top: 0 solid #eee;
    border-bottom: 1px solid #333;
  }
  .sidebar {
    float: none;
    width: 100%;
  }
  .sidebar .sidebar-dropdown {
    display: block;
  }
  .sidebar .sidebar-inner {
    display: none;
  }
  .sidebar .sidebar-widget {
    text-align: center;
  }
  .mainbar {
    margin: 0;
    float: none;
  }
  .today-datas {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .form {
    margin: 0 !important;
  }
  form .control-group {
    margin: 0 !important;
  }
  form .control-label {
    float: none !important;
    width: auto !important;
    text-align: left !important;
  }
  form .controls {
    float: none !important;
    margin-left: 0 !important;
  }
  form .form-actions {
    padding-left: 0 !important;
  }
  .navbar {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .nav-collapse .dropdown-big .dropdown-menu {
    color: #bbb !important;
  }
  .nav-collapse .dropdown-big .dropdown-menu a {
    color: #ccc !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .nav-collapse .dropdown-big .dropdown-menu a:hover {
    color: #aaa !important;
  }
  .nav-collapse .dropdown-big .dropdown-menu h5 {
    color: #eee !important;
  }
  .nav-collapse .dropdown-menu {
    padding: 10px 10px !important;
  }
  .nav-collapse .dropdown-menu a {
    color: #fff !important;
  }
  .nav-collapse .dropdown-menu a:hover {
    background: transparent !important;
  }
  .nav-collapse .dropdown-menu hr {
    border-top: 0 solid #eee;
    border-bottom: 1px solid #333;
  }
  .sidebar {
    width: 200px;
  }
  .mainbar {
    margin-left: 200px;
  }
}
/*#region Widgets */
/* maps */
.map iframe {
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}
/* maps ends */
/* Users starts */
.user h6 {
  line-height: 17px !important;
}
.user {
  font-size: 12px !important;
  line-height: 20px !important;
}
.user img {
  max-width: 70px;
  margin-top: 10px;
  cursor: pointer;
}
.user .user-pic {
  float: left;
  width: 80px;
}
.user .user-details {
  margin-left: 85px;
}
.user .btn {
  font-size: 11px !important;
}
/* Users ends */
/*#endregion */
/*#region Override background color theme */
/*For Bootstrap 3*/
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
body {
  background-color: #FFF;
}
.navbar-inverse {
  background-color: #333;
}
.sidebar-widget form {
  margin: 0em -1em;
}
.sidebar .navi > li > a {
  background-color: #333 !important;
}
.sidebar .navi li ul li a {
  color: #fff;
}
.sidebar .navi li ul li a:hover {
  color: #52b9e9;
}
.sidebar .navi li ul li a:disabled {
  color: #999;
}
.navbar-inverse .btn-navbar {
  background-color: #333;
}
.navbar-inverse .btn-navbar:hover {
  background-color: #333;
}
.sidebar {
  margin-top: -2px;
}
.sidebar .sidebar-inner {
  background-color: #333;
}
.sidebar-filler {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #333;
  width: 230px;
}
/*#endregion */
/* #region Main Styles */
ul.image-group {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
ul.image-group li {
  list-style: none;
  margin-bottom: 25px;
}
.ng-cloak {
  display: none !important;
}
select > option {
  color: black;
}
input.form-control,
select.form-control,
textarea.form-control {
  /*width: 205px;*/
  display: inline;
  display: block;
  width: 50%;
  max-width: 30em;
}
.widget .padd {
  /*margin-bottom: 0;*/
  /*padding: 1em 0;*/
  height: 12em;
}
.widget .padd.padd-tight {
  padding: 6px;
}
.list-flow.list-flow-tight {
  width: 90px;
}
.map {
  height: 228px;
}
.btn > i {
  margin-right: 8px;
}
.btn {
  margin-right: 4px;
  margin-left: 4px;
}
.btn.btn-notext > i {
  margin-right: 0;
}
.btn-group {
  margin: .2em;
}
small {
  font-size: 14px;
}
.text-subtle {
  color: #b7b7b7;
}
.page-title-subtle {
  color: white;
}
.page-title {
  color: #EEE;
  margin-right: 12px;
}
.right {
  clear: right;
  float: right;
}
.widget-content .padd:hover {
  cursor: pointer;
  color: white;
  background-color: #52b9e9;
}
.widget-content .padd:hover * {
  color: white;
}
.list-flow {
  margin: 6px;
  float: left;
  width: 110px;
  height: 120px;
  border-bottom: solid 0 transparent;
  padding: 1.5% .5%;
}
.name-stack h5 {
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 18px !important;
}
.search-query {
  margin: 2px auto 8px auto !important;
}
.fa-search {
  color: #FFFFFF;
}
.form-search {
  min-height: 2em;
}
.input-group[class*="col-"] {
  width: 80%;
  margin: 0 1.5em;
}
.user .user-pic {
  display: block;
  margin: auto;
}
.user .user-details {
  margin-left: 100px;
  margin-right: 10px;
}
.widget-content {
  padding: 1em;
  margin: 0;
}
.stacked {
  float: none !important;
  display: block;
  margin: auto;
}
.navbar .navbar-brand {
  /*background: url(../images/gg.png) no-repeat left top !important;*/
  margin: 0 1em;
  height: 45px;
}
.navbar .brand-title {
  /*margin-left: 4em;*/
  color: #FFFFFF;
}
.navbar-logo img {
  height: 20px;
}
.today-datas li {
  padding: 20px 14px;
  height: 9em;
}
/*#region Splash */
#splash-page {
  z-index: 99999 !important;
}
#splash-page .bar {
  width: 100%;
}
.page-splash {
  z-index: 99999 !important;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: .9;
  pointer-events: auto;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.page-splash-message {
  text-align: center;
  margin: 20% auto 0 auto;
  font-size: 400%;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-weight: normal;
  -webkit-text-shadow: 2px 2px #000000;
  text-shadow: 2px 2px #000000;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  text-decoration: none;
  color: #F58A00;
  padding: 0;
}
.page-splash-message.page-splash-message-subtle {
  margin: 30% auto 0 auto;
  font-size: 200%;
}
.flag-haschanges {
  position: fixed !important;
  display: inline;
}
.fa-asterisk.fa-asterisk-large {
  font-size: 180%;
  vertical-align: middle;
  color: #F58A00;
}
.fa-asterisk.fa-asterisk-alert {
  color: #F58A00;
}
.fa-asterisk-inline {
  padding: 0 4px 0 0;
}
.progress,
.page-progress-bar {
  margin: 30px 10% !important;
}
.ngplus-overlay-background {
  top: 0px;
  left: 0px;
  padding-left: 100px;
  position: absolute;
  z-index: 10000;
  height: 100%;
  width: 100%;
  background-color: #808080;
  opacity: 0.2;
}
.ngplus-overlay-content {
  position: absolute;
  /*border: 1px solid #000;*/
  /*background-color: #fff;*/
  font-weight: bold;
  height: 100px;
  width: 300px;
  height: 15em;
  width: 20em;
  z-index: 10000;
  text-align: center;
}
.page-spinner-message {
  text-align: center;
  font-size: 400%;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-weight: normal;
  -webkit-text-shadow: 2px 2px #000000;
  text-shadow: 2px 2px #000000;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  text-decoration: none;
  color: #F58A00;
  padding: 0;
}
.page-spinner-message.page-spinner-message-subtle {
  margin: 30% auto 0 auto;
  font-size: 200%;
}
.overlay-message {
  font-size: 200%;
}
.spinner {
  margin: 20% auto 0 auto;
  left: auto;
  top: auto !important;
}
/*#endregion*/
table th > a {
  font-weight: bold;
}
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  cursor: pointer;
}
.widget-content.referrer {
  border-width: 0;
}
a {
  cursor: pointer;
}
/* #endregion */
.customer-name {
  font-size: 1.2em;
}
.customer-thumb {
  margin: 0.1em !important;
  padding: 0.1em;
}
/*#region wrapper for angular ng-include and ng-view animations*/
.view-container {
  position: relative;
  overflow: hidden;
}
/*#endregion */
/*#region Angular ng-include, ng-view, ng-repeat shuffle animations*/
.shuffle-animation.ng-enter,
.shuffle-animation.ng-leave {
  position: relative;
}
.shuffle-animation.ng-enter {
  -webkit-transition: ease-out all 0.3s 0.4s;
  transition: ease-out all 0.3s 0.4s;
  left: 2em;
  opacity: 0;
}
.shuffle-animation.ng-enter.ng-enter-active {
  left: 0;
  opacity: 1;
}
.shuffle-animation.ng-leave {
  -webkit-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
  left: 0;
  opacity: 1;
}
.shuffle-animation.ng-leave.ng-leave-active {
  left: 2em;
  opacity: 0;
}
/*#endregion*/
/*#region Angular ng-include, ng-view, ng-repeat fader animation */
.fader-animation.ng-enter,
.fader-animation.ng-leave,
.fader-animation.ng-move {
  position: relative;
}
.fader-animation.ng-enter,
.fader-animation.ng-leave {
  -webkit-transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) all 0.5s;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) all 0.5s;
  opacity: 1;
}
.fader-animation.ng-enter,
.fader-animation.ng-leave.ng-leave-active {
  opacity: 0;
}
.fader-animation.ng-enter.ng-enter-active {
  opacity: 1;
}
.fader-animation.ng-move {
  opacity: 0.5;
}
.fader-animation.ng-move.ng-move-active {
  opacity: 1;
}
/*#endregion*/
/*#region Angular ng-show dissolve animation */
.dissolve-animation.ng-hide-remove,
.dissolve-animation.ng-hide-add {
  position: fixed !important;
  display: inline !important;
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
}
.dissolve-animation.ng-hide-remove.ng-hide-remove-active,
.dissolve-animation.ng-hide-add {
  opacity: 1;
}
.dissolve-animation.ng-hide-add.ng-hide-add-active,
.dissolve-animation.ng-hide-remove {
  opacity: 0;
}
/*#endregion */
/*#region toastr */
#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
  margin: 4px auto;
}
/*#endregion */
/*#region Responsive */
@media (max-width: 979px) {
  .sidebar-filler {
    width: 200px;
  }
  .nav-collapse {
    clear: none;
  }
  .nav-collapse .nav > li {
    float: left;
  }
  .navbar .btn-navbar {
    display: none;
  }
  .nav-collapse,
  .nav-collapse.collapse {
    height: inherit;
    overflow: inherit;
  }
  .page-splash-message {
    font-size: 300%;
  }
  .btn-group.pull-right {
    float: none !important;
    display: block;
  }
}
@media (min-width: 768px) {
  .sidebar .sidebar-inner {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .sidebar-filler {
    display: none;
  }
  .nav-collapse {
    clear: both;
  }
  .nav-collapse .nav > li {
    float: none;
  }
  .navbar .btn-navbar {
    display: block;
  }
  .nav-collapse,
  .nav-collapse.collapse {
    height: 0;
    overflow: hidden;
  }
  .page-splash-message {
    font-size: 200%;
    margin: 40% auto 0 auto;
  }
  .page-splash-message.page-splash-message-subtle {
    font-size: 150%;
  }
  .sidebar .sidebar-inner {
    height: inherit;
  }
}
@media (max-width: 480px) {
  input.form-control,
  select.form-control,
  textarea.form-control {
    width: 70%;
  }
}
@media (max-width: 320px) {
  .today-datas li {
    padding: 1em .5em;
    line-height: 1em;
  }
  .today-datas li i {
    font-size: 2em;
  }
  .today-datas li .datas-text span {
    font-size: 1em;
  }
  .btn {
    margin: .2em;
    width: 7em;
  }
  .btn-group > .btn {
    display: block;
    width: 7em;
  }
  .btn-group.pull-right {
    margin: .2em 0;
  }
  input,
  select {
    width: 85% !important;
  }
  textarea {
    width: 80%;
  }
  .img-thumbnail.user-pic {
    width: 5em;
  }
  .user .user-details {
    margin-left: 7em;
    margin-right: .5em;
  }
  h3 {
    font-size: 1.5em !important;
    line-height: 1.2em !important;
  }
}
