<section class="mainbar">
    <section class="matter">
        <div class="container">
            <json-viewer bower-json-data="{{vm.bowerJsonData.data}}">test</json-viewer>
        </div>
    </section>
</section>
