<section class="mainbar">
  <section class="matter">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>Your task here is to list all albums that exists on Spotify from the artist specified in the input box.</p>
          <p>Present it nicely! (Name, release, album cover etc.)</p>

          <p>The URL you should use is: <span class="mono">https://api.spotify.com/v1/search?q=THEARTISTNAME&type=album</span></p>
        </div>

        <div class="col-xs-12">
          <input ng-model="artistName" />
          <button ng-click="vm.search()">Search</button>
        </div>

        <div class="row" ng-repeat="album in vm.albumList">
          <div class="col-xs-4">
            <img ng-src="{{album.images[0].url}}" style="width: 100%;">
          </div>
          <div class="col-xs-8">
            <b>Album name:</b>
            {{album.name}}
          </div>
          <hr>
        </div>
      </div>
  </section>
</section>
